@import url('constants.css');


.page-body {
    justify-content: center;
}

#view-cart-button {
    margin: 1em;
    scale: 1.2;
}

/* CART MODAL */
#cart-modal {
    padding: 1em;
    display: none;
    z-index: 1;
    position: fixed;
    top: 2em;
    left: 2em;
    background-color: var(--primary-cloudy-gray);
    width: 50%;
    border: 2px solid var(--primary-canopy-green);
    font-size: 200%;
}

#main-modal-content {
    justify-items: center;

}

#cart-modal ul {
    list-style-type: none;
    padding: .1em 1em .1em 1em;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-sky-bloom);
    border: 1px solid var(--primary-canopy-green);
    border-radius: .25em;
}
#close-modal {
    /*font-size: 1%;*/
}
#close-modal:hover {
    cursor: pointer;
}

/* PRODUCTS */
#products-container {
    display: flex;
    justify-content: center;
}

.products-cell {
    justify-content: center;
    max-width: 25%;
    text-align: center;
    border: 1px solid black;
    padding: 1em;
}
.products-cell img {
    border: 2px solid black;
}

.product-name {
    font-size: var(--font-size-title);
    padding: 0;
}

.product-desc {
    font-size: 1rem;
    text-align: center;
    background-color: var(--primary-sky-bloom);
    padding: .5em;
    border: 1px solid var(--primary-canopy-green);
    border-radius: .5em;
}

.product-image {
    max-width: 80%;
}